@keyframes x {
  1%{
    
  }

  50%{

  }

  100%{

  }
}


body{
    background-color: cornflowerblue;
    background-image: url(../img/loop.png)
}

@font-face {
	font-family: 'hallfetica';
	src: url('Hall_Fetica.ttf');
	src:
		local('Hall_Fetica.ttf'),
		local('Hall_Fetica.ttf'),
		url('Hall_Fetica.ttf')
		format('opentype');
}

.leascale{
    text-align: center;
}

.lea{
    height: 600;
    width: 650;
}


div{
   text-align: center;
}

h1, h2, h3{
    text-align: center;
    font-family: 'hallfetica', sans-serif;
}
