.bxslider
{
    width:500px;
    height:500px;
    overflow:hidden;
    position:absolute;


}
.style17
 {

width: 800px;
height: 400px;
position:relative;

}

#next {
     width:10px;
    height:10px;
    z-index:99;
    cursor:pointer;
    text-align:center;
    line-height:50px;
    position:absolute;
    z-index:50;
     left:0;
    top:200px;

    opacity:.3;


}
#prev {
     width:10px;
    height:10px;
    z-index:50;
    cursor:pointer;
    text-align:center;
    line-height:50px;
    position:absolute;
    z-index:99;
     right:20px;
    top:200px;

    opacity:.3;

}
.style17:hover #next
 {
    opacity: 1;
    transition: all .5s ease-out;
}
.style17:hover #prev
 {
    opacity: 1;
    transition: all .5s ease-out;
}
